$black: #000;
$light-text:#e1e1e1;
$lightgray-text:#a9a9a9;
$gray-text: #737373;
$dark-background:#161616;
$gray-border:#c3c3c3;
$light-border: #e2e2e2;
$dark-border:#373737;
$red:#e30016;
$white:#ffffff;
